@page
@model GamersParadise.Pages.Administration.IndexModel
@{
}


    <a class="nav-link text-dark" asp-area="" asp-page="/Administration/MainCategoryAdmin/Index">Manage Maincategories</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Administration/SubCategoryAdmin/Index">Manage Subcategories</a>

